/* Universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Root variables */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: white;
  --background-color: #f4f4f4;
  --secondary-bg-color: #0d1117;
}

/* Body */
body {
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  background-color: black;
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Outfit", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: var(--text-color);
  padding: 0.5rem 8%;
  z-index: 1000;
}

.menu-icon {
  font-size: 1rem;
  display: none;
  color: var(--text-color);
}

.logo {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

span {
  background: linear-gradient(270deg, #3498db, #2ecc71);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 18rem;
  width: 100%;
  height: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  font-size: 1.4rem;
  margin-left: 1rem;
  transition: 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 8px 12px;
  color: var(--text-color);
}

.navbar a:hover {
  border-bottom: 3px solid var(--primary-color);
  background: linear-gradient(270deg, #3498db, #2ecc71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CTA Button */
.cta-button {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(270deg, #3498db, #2ecc71);
  color: white;
  cursor: pointer;
  margin-left: 7rem;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 1px;
  font-family: "Outfit", sans-serif;
  transition: 0.3s ease-in-out;
}

.cta-button:hover {
  box-shadow: 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color),
    0 0 20px var(--primary-color);
}

/* Sections */
section {
  min-height: 100vh;
  padding: 10rem 15%;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6rem;
  scroll-margin-top: 75px;
}

.home-content {
  display: block;
  text-align: left;
}

.home-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.8;
}

.home-content p {
  font-size: 18.8px;
  text-align: justify;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.home-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--primary-color);
  background-color: rgb(200, 21, 21);
  transition: transform 0.3s ease-in-out;
}

.home-image img:hover {
  box-shadow: 0 0 35px var(--primary-color), 0 0 50px var(--secondary-color),
    0 0 70px var(--primary-color);
}

.home-image img:active {
  transform: scale(0.95);
}

/* Social Links */
.social-Links {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 0.7rem;
}

.social-Links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  margin: 1.5rem 1rem;
}

.social-Links a:hover {
  transform: scale(1.1) translateY(-5px);
  color: var(--primary-color);
  box-shadow: 0 0 15px var(--primary-color);
}

/* Buttons */
.btn-groups {
  display: flex;
  gap: 1.5rem;
  justify-content: start;
}

.btn {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 1000px;
  border: none;
  background: linear-gradient(270deg, #3498db, #2ecc71);
  box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--secondary-color),
    0 0 15px var(--primary-color);
  color: black;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-family: "Outfit", sans-serif;
}

.btn-groups a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color),
    0 0 20px var(--primary-color);
}

.btn-groups a:nth-of-type(2) {
  background: black;
  color: white;
  border: 2px solid var(--primary-color);
}

.btn-groups a:nth-of-type(2):hover {
  background: linear-gradient(270deg, #3498db, #2ecc71);
  color: black;
  border: none;
  box-shadow: 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color),
    0 0 20px var(--primary-color);
}

/* About */
.about {
  background-color: var(--secondary-bg-color);
  scroll-margin-top: 70px;
  padding: 2rem 5%;
}

.about-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.9rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.about-image img {
  width: 17vw;
  max-width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--primary-color);
  transition: 0.3s ease-in-out;
  display: block;
}

.about-image img:hover {
  box-shadow: 0 0 35px var(--primary-color), 0 0 50px var(--secondary-color),
    0 0 70px var(--primary-color);
}

.about-content {
  max-width: 750px;
}

.about-content p {
  font-size: 18.8px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}

.about-content h3 {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}

.about-content ul {
  padding-left: 1.2rem;
}

.about-content ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.about-content .btn {
  margin-top: 1rem;
}
.about-content .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color),
    0 0 20px var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
::-webkit-scrollbar-track {
  background: black;
}

/* Projects */
.projects {
  background-color: black;
  padding-top: 3rem;
  scroll-margin-top: 70px;
}

.project-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--secondary-color),
    0 0 15px var(--primary-color);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--primary-color), 0 0 25px var(--secondary-color),
    0 0 25px var(--primary-color);
}

.project-card img {
  max-width: 300px;
  border-radius: 1rem;
  object-fit: cover;
}
/* Project card image hover effect: scale */
.project-card img:hover {
transform: scale(1.05);
}


.project-card h3 {
  font-size: 1.2rem;
}

.project-card p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  line-height: 1.5;
  padding: 0 1rem;
}

/* Contact */
.contact {
background-color: var(--secondary-bg-color);
scroll-margin-top: 70px;
min-height: 80vh; /* Allow the height to be determined by content */
padding-bottom: 5rem; /* Adjust this value as needed, or set to 0 */
margin-bottom: 0; /*Ensure no external margin below the section */
}


.contact h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.contact form {
display: flex;
align-items: flex-start;
justify-content: center;
gap: 2rem;
text-align: center;
margin-bottom: 0;
padding-bottom: 0;
}

.contact form .input-box input {
padding: 0.75rem;
width: 100%;
font-size: 1rem;
color: var(--text-color);
background-color: var(--secondary-bg-color);
border-radius: 15px;
border: 2px solid var(--primary-color);
margin: 0.5rem 0;
resize: none; /*Prevent manual resizing */
}


.contact form textarea {
padding: 0.5rem;
width: 100%;
font-size: 1rem;
font-family: "Arial", sans-serif;
color: var(--text-color);
background-color: var(--secondary-bg-color);
border-radius: 15px;
border: 2px solid var(--primary-color);
resize: none;
min-height: 180px;
margin: 0.5rem 0;
}


#contact-form .btn {
  margin-top: 0.6rem;
  background: linear-gradient(270deg, #3498db, #2ecc71);
  cursor: pointer;
}
#contact-form .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color),
    0 0 20px var(--primary-color);
}

/* Footer */
.footer {
  background-color: black;
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  justify-content: center;
}
.footer p {
margin: 0;
font-size: 1rem;
}

#social-links {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 1rem;
margin-top: 2rem;
}

#social-links a {
color: var(--text-color);
font-size: 1.5rem;
padding: 0.5rem;
border-radius: 50%;
background: transparent;
border: 2px solid var(--primary-color);
transition: 0.3s ease-in-out;
}

.footer ul {
text-align: center;
font-size: 1.5rem;
}

.footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.footer ul li a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.footer-text {
  color: #8e8e8e; / Grey color */
text-align: center;
margin-top: 10px;
font-size: 16px;
}



/* --- Responsive --- */

/* ≤400px */
@media (max-width: 400px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }
  .home-image {
    width: 55vw;
    max-width: 300px;
  }
  .home-content {
    text-align: center;
  }
  .btn-groups {
    justify-content: center;
  }
  .about-image img {
    width: 50vw;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .heading{
    text-align: center;
    margin-bottom: 1rem;
  }
  .project-card img{
    max-width: 100%;
    border-radius: 0.8rem;
  }
  

  #contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 0.5rem;
  }
  .input-group .input-box{
    gap: 10rem;

  }
  #contact-form textarea {
    min-height: 120px;
  }
  .social-Links {
    justify-content: center;
    gap: 0.5rem;
  }
}

/* ≤576px */
@media (max-width: 576px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }
  .home-image {
    width: 55vw;
    max-width: 350px;
  }
  .btn-groups {
    justify-content: center;
  }
  .about-image img {
    width: 50vw;
    margin-top: 2rem;
  }
  #contact-form {
    display: flex;
    flex-direction: column;
    max-width: 576px;
  }
  #contact-form textarea {
    max-width: 700px;
    min-height: 140px;
  }
}

/* ≤768px */
@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
    text-align: center;
  }
  .home-image {
    width: 40vw;
    max-width: 300px;
  }
  .about-image img {
    width: 40vw;
  }
  #contact-form {
    max-width: 500px;
  }
}

/* ≤1022px */
@media (max-width: 1022px) {
  section {
    padding: 6rem 5%;
  }
  .social-Links {
    justify-content: center !important;
  }
  .menu-icon {
    display: block;
    font-size: 1.8rem;
  }
  .cta-button {
    display: none !important;
  }
  .navbar {
    display: none;
    flex-direction: column;
    background: #0d1117;
    position: absolute;
    top: 75px;
    right: 0;
    width: 200px;
  }
  .navbar.active {
    display: flex;
  }
  .navbar a {
    padding: 10px;
    color: #fff;
  }
}
